<h2>Problem Statement</h2>
            <div ng-bind-html="problem.intro" class="ng-binding">Cat Taro has N cards. He arranged the cards in a row and wrote numbers 0 through N-1 on them from left to right. He wants to rearrange them so that <b>p</b>[i] is written on the i-th (0-indexed) card from the left.
<br>
<br>
He asked N-1 rabbits to rearrange the cards. The rabbits are numbered from 0 to N-2, and the i-th rabbit can swap the i-th and the (i+1)-th card from the left. A permutation of rabbits q[0], ..., q[N-2] is called <i>good</i> if having the rabbits performed exactly their operations in this order, <b>p</b>[i] is written on the i-th card from the left.
<br>
<br>
Return the number of <i>good</i> permutations of rabbits, modulo 1,000,000,007.
</div>
            <h2>Definition</h2>
            <div class="problemStatementRow">
                <div class="statementName">Class:</div>
                <div class="textWhite ng-binding">AdjacentSwaps</div>
            </div>
            <div class="problemStatementRow">
                <div class="statementName">Method:</div>
                <div class="textWhite ng-binding">theCount</div>
            </div>
            <div class="problemStatementRow">
                <div class="statementName">Parameters:</div>
                <div class="textWhite ng-binding">int[]</div>
            </div>
            <div class="problemStatementRow">
                <div class="statementName">Returns:</div>
                <div class="textWhite ng-binding">int</div>
            </div>
            <div class="problemStatementRow">
                <div class="statementName">Method signature:</div>
                <div class="textWhite ng-binding">int theCount(int[] p)</div>
            </div>
            <!-- ngIf: lang(langIdx).id != 6 --><div class="problemStatementRow ng-scope" ng-if="lang(langIdx).id != 6">(be sure your method is public)</div><!-- end ngIf: lang(langIdx).id != 6 -->
            <h2>Limits</h2>
            <div class="problemStatementRow">
                <div class="statementName">Time limit (s):</div>
                <div class="textWhite ng-binding">840.000</div>
            </div>
            <div class="problemStatementRow">
                <div class="statementName">Memory limit (MB):</div>
                <div class="textWhite ng-binding">64</div>
            </div>
            <!-- ngIf: problem.spec -->
            <!-- ngIf: problem.component.notes && problem.component.notes.length > 0 -->
            <!-- ngIf: problem.component.constraints && problem.component.constraints.length > 0 --><div ng-if="problem.component.constraints &amp;&amp; problem.component.constraints.length > 0" class="ng-scope">
                <h2>Constraints</h2>
                <!-- ngRepeat: constraint in problem.constraints --><div class="problemStatementRow ng-scope" ng-repeat="constraint in problem.constraints">
                    <div ng-bind-html="'- ' + constraint" class="ng-binding">- <b>p</b> will contain between 2 and 50 elements, inclusive.</div>
                </div><!-- end ngRepeat: constraint in problem.constraints --><div class="problemStatementRow ng-scope" ng-repeat="constraint in problem.constraints">
                    <div ng-bind-html="'- ' + constraint" class="ng-binding">- Each element of <b>p</b> will be between 0 and N-1, inclusive, where N is the number of elements in <b>p</b>.</div>
                </div><!-- end ngRepeat: constraint in problem.constraints --><div class="problemStatementRow ng-scope" ng-repeat="constraint in problem.constraints">
                    <div ng-bind-html="'- ' + constraint" class="ng-binding">- <b>p</b> will contain no duplicate elements.</div>
                </div><!-- end ngRepeat: constraint in problem.constraints -->
            </div><!-- end ngIf: problem.component.constraints && problem.component.constraints.length > 0 -->
            <!-- ngIf: hasExampleTest --><div ng-if="hasExampleTest" class="ng-scope">
                <h2>Examples</h2>
                <!-- ngRepeat: test in examples track by $index --><div class="ng-scope" ng-repeat="test in examples track by $index" data-ng-init="testNum=$index">
                    <span class="ng-binding">0)</span>
                    <!-- ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">{1, 2, 0}</div>
                    </div><!-- end ngRepeat: param in test.params -->
                    <div class="problemStatementRow">
                        <div class="textWhite ng-binding">Returns: 1</div>
                    </div>
                    <!-- ngIf: test.annotationHtml --><div class="problemStatementRow ng-scope" ng-if="test.annotationHtml">
                        <div class="textWhite ng-binding" ng-bind-html="test.annotationHtml">Initially {0, 1, 2} are written on the cards from left to right.
There are two permutations of rabbits:
<ul>
<li>Rabbit 0 -&gt; rabbit 1. After rabbit 0 performs an operation, the cards become {1, 0, 2}. After rabbit 1 performs an operation, the cards become {1, 2, 0}.</li>
<li>Rabbit 1 -&gt; rabbit 0. After rabbit 1 performs an operation, the cards become {0, 2, 1}. After rabbit 0 performs an operation, the cards become {2, 0, 1}.</li>
</ul></div>
                    </div><!-- end ngIf: test.annotationHtml -->
                </div><!-- end ngRepeat: test in examples track by $index --><div class="ng-scope" ng-repeat="test in examples track by $index" data-ng-init="testNum=$index">
                    <span class="ng-binding">1)</span>
                    <!-- ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">{0, 1}</div>
                    </div><!-- end ngRepeat: param in test.params -->
                    <div class="problemStatementRow">
                        <div class="textWhite ng-binding">Returns: 0</div>
                    </div>
                    <!-- ngIf: test.annotationHtml --><div class="problemStatementRow ng-scope" ng-if="test.annotationHtml">
                        <div class="textWhite ng-binding" ng-bind-html="test.annotationHtml">The&nbsp;rabbit&nbsp;must&nbsp;perform&nbsp;an&nbsp;operation.</div>
                    </div><!-- end ngIf: test.annotationHtml -->
                </div><!-- end ngRepeat: test in examples track by $index --><div class="ng-scope" ng-repeat="test in examples track by $index" data-ng-init="testNum=$index">
                    <span class="ng-binding">2)</span>
                    <!-- ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">{2, 0, 3, 1}</div>
                    </div><!-- end ngRepeat: param in test.params -->
                    <div class="problemStatementRow">
                        <div class="textWhite ng-binding">Returns: 2</div>
                    </div>
                    <!-- ngIf: test.annotationHtml -->
                </div><!-- end ngRepeat: test in examples track by $index --><div class="ng-scope" ng-repeat="test in examples track by $index" data-ng-init="testNum=$index">
                    <span class="ng-binding">3)</span>
                    <!-- ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">{1, 0, 3, 2}</div>
                    </div><!-- end ngRepeat: param in test.params -->
                    <div class="problemStatementRow">
                        <div class="textWhite ng-binding">Returns: 0</div>
                    </div>
                    <!-- ngIf: test.annotationHtml -->
                </div><!-- end ngRepeat: test in examples track by $index --><div class="ng-scope" ng-repeat="test in examples track by $index" data-ng-init="testNum=$index">
                    <span class="ng-binding">4)</span>
                    <!-- ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">{1, 3, 0, 5, 2, 7, 4, 8, 10, 6, 12, 9, 14, 11, 16, 13, 18, 15, 19, 17}</div>
                    </div><!-- end ngRepeat: param in test.params -->
                    <div class="problemStatementRow">
                        <div class="textWhite ng-binding">Returns: 716743312</div></div></div></div>