<h2>Problem Statement</h2>
            <div ng-bind-html="problem.intro" class="ng-binding">Air traffic control requires that the routes of aircraft be restricted. We want
to investigate the costs of requiring aircraft to fly only in a few directions.
For example, we could require them to fly only north, east, south, or west.  
<p>
It makes sense to distribute the allowable directions evenly. If we allow only
<b>n</b> directions, one will be east and the others will be evenly distributed among
all other possible directions. So if <b>n</b> is 3, the three directions are east, 30 degrees
west of north, and 30 degrees west of south. Adjacent directions then differ
by 120 degrees. Notice that if a direction is legal the opposite direction 
may not necessarily be legal.
</p><p>
The following picture shows a minimum way to fly to a destination which is 5 east and 3 north of the starting point when <b>n</b> is 8. The 8 allowable directions are shown in blue.
By flying a distance of 3*sqrt(2) northeast, and then 2 east (or 2 east, and then 3*sqrt(2) northeast) we can get to our
destination by travelling a total distance of 3*sqrt(2) + 2. Notice that for any <b>n</b> and destination 
the minimal distance can be achieved using no more than two directions.
</p>
<p>
<img src="airways3.gif" width="250" height="250">
</p>
<p>
Create a class Airways that contains a method distance that is given <b>n</b> (the number
of legal directions), <b>east</b> (the distance eastward to our destination), and <b>north</b> (the
distance northward to our destination). It returns the minimum distance we will have
to fly to get to our destination under these requirements.
</p>
</div>
            <h2>Definition</h2>
            <div class="problemStatementRow">
                <div class="statementName">Class:</div>
                <div class="textWhite ng-binding">Airways</div>
            </div>
            <div class="problemStatementRow">
                <div class="statementName">Method:</div>
                <div class="textWhite ng-binding">distance</div>
            </div>
            <div class="problemStatementRow">
                <div class="statementName">Parameters:</div>
                <div class="textWhite ng-binding">int, int, int</div>
            </div>
            <div class="problemStatementRow">
                <div class="statementName">Returns:</div>
                <div class="textWhite ng-binding">double</div>
            </div>
            <div class="problemStatementRow">
                <div class="statementName">Method signature:</div>
                <div class="textWhite ng-binding">double distance(int n, int east, int north)</div>
            </div>
            <!-- ngIf: lang(langIdx).id != 6 --><div class="problemStatementRow ng-scope" ng-if="lang(langIdx).id != 6">(be sure your method is public)</div><!-- end ngIf: lang(langIdx).id != 6 -->
            <h2>Limits</h2>
            <div class="problemStatementRow">
                <div class="statementName">Time limit (s):</div>
                <div class="textWhite ng-binding">840.000</div>
            </div>
            <div class="problemStatementRow">
                <div class="statementName">Memory limit (MB):</div>
                <div class="textWhite ng-binding">64</div>
            </div>
            <!-- ngIf: problem.spec -->
            <!-- ngIf: problem.component.notes && problem.component.notes.length > 0 --><div ng-if="problem.component.notes &amp;&amp; problem.component.notes.length > 0" class="ng-scope">
                <h2>Notes</h2>
                <!-- ngRepeat: note in problem.notes --><div class="problemStatementRow ng-scope" ng-repeat="note in problem.notes">
                    <div ng-bind-html="'- ' + note" class="ng-binding">- The returned value must be accurate to within a relative or absolute value of 1E-9.</div>
                </div><!-- end ngRepeat: note in problem.notes -->
            </div><!-- end ngIf: problem.component.notes && problem.component.notes.length > 0 -->
            <!-- ngIf: problem.component.constraints && problem.component.constraints.length > 0 --><div ng-if="problem.component.constraints &amp;&amp; problem.component.constraints.length > 0" class="ng-scope">
                <h2>Constraints</h2>
                <!-- ngRepeat: constraint in problem.constraints --><div class="problemStatementRow ng-scope" ng-repeat="constraint in problem.constraints">
                    <div ng-bind-html="'- ' + constraint" class="ng-binding">- <b>n</b> will be between 3 and 40, inclusive.</div>
                </div><!-- end ngRepeat: constraint in problem.constraints --><div class="problemStatementRow ng-scope" ng-repeat="constraint in problem.constraints">
                    <div ng-bind-html="'- ' + constraint" class="ng-binding">- <b>east</b> and <b>north</b> will be between -5000 and 5000, inclusive.</div>
                </div><!-- end ngRepeat: constraint in problem.constraints -->
            </div><!-- end ngIf: problem.component.constraints && problem.component.constraints.length > 0 -->
            <!-- ngIf: hasExampleTest --><div ng-if="hasExampleTest" class="ng-scope">
                <h2>Examples</h2>
                <!-- ngRepeat: test in examples track by $index --><div class="ng-scope" ng-repeat="test in examples track by $index" data-ng-init="testNum=$index">
                    <span class="ng-binding">0)</span>
                    <!-- ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">3</div>
                    </div><!-- end ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">-219</div>
                    </div><!-- end ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">0</div>
                    </div><!-- end ngRepeat: param in test.params -->
                    <div class="problemStatementRow">
                        <div class="textWhite ng-binding">Returns: 437.99999999999994</div>
                    </div>
                    <!-- ngIf: test.annotationHtml --><div class="problemStatementRow ng-scope" ng-if="test.annotationHtml">
                        <div class="textWhite ng-binding" ng-bind-html="test.annotationHtml">

   We want to go 219 due west. One way to do that is to fly 219 in the direction
   that is 30 degrees west of due south, then fly 219 in the direction 30 degrees
   west of due north.  Our path will form 2 sides of an equilateral triangle.



</div>
                    </div><!-- end ngIf: test.annotationHtml -->
                </div><!-- end ngRepeat: test in examples track by $index --><div class="ng-scope" ng-repeat="test in examples track by $index" data-ng-init="testNum=$index">
                    <span class="ng-binding">1)</span>
                    <!-- ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">3</div>
                    </div><!-- end ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">171</div>
                    </div><!-- end ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">0</div>
                    </div><!-- end ngRepeat: param in test.params -->
                    <div class="problemStatementRow">
                        <div class="textWhite ng-binding">Returns: 171.0</div>
                    </div>
                    <!-- ngIf: test.annotationHtml --><div class="problemStatementRow ng-scope" ng-if="test.annotationHtml">
                        <div class="textWhite ng-binding" ng-bind-html="test.annotationHtml">

   We want to go due east, and that is always an allowed direction.</div>
                    </div><!-- end ngIf: test.annotationHtml -->
                </div><!-- end ngRepeat: test in examples track by $index --><div class="ng-scope" ng-repeat="test in examples track by $index" data-ng-init="testNum=$index">
                    <span class="ng-binding">2)</span>
                    <!-- ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">4</div>
                    </div><!-- end ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">233</div>
                    </div><!-- end ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">3111</div>
                    </div><!-- end ngRepeat: param in test.params -->
                    <div class="problemStatementRow">
                        <div class="textWhite ng-binding">Returns: 3344.0000000000005</div>
                    </div>
                    <!-- ngIf: test.annotationHtml --><div class="problemStatementRow ng-scope" ng-if="test.annotationHtml">
                        <div class="textWhite ng-binding" ng-bind-html="test.annotationHtml">

   We can go 3111 due north and then 233 east since these are legal directions when <b>n</b> is 4.
</div>
                    </div><!-- end ngIf: test.annotationHtml -->
                </div><!-- end ngRepeat: test in examples track by $index --><div class="ng-scope" ng-repeat="test in examples track by $index" data-ng-init="testNum=$index">
                    <span class="ng-binding">3)</span>
                    <!-- ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">14</div>
                    </div><!-- end ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">-3840</div>
                    </div><!-- end ngRepeat: param in test.params --><div class="problemStatementRow ng-scope" ng-repeat="param in test.params">
                        <div class="textWhite ng-binding">-1768</div>
                    </div><!-- end ngRepeat: param in test.params -->
                    <div class="problemStatementRow">
                        <div class="textWhite ng-binding">Returns: 4243.534462721784</div></div></div></div>